body{
    margin: 0px;
    padding: 0px;
    border: 0px solid black;
    font-family: Arial;
}

main{
    width: calc(100% - 15%);
    height: calc(99.7vh - 7vh);
    flex: block;
    float: left;
    position: relative;
    background-color: lightgray;
    overflow: hidden; 
}

main::-webkit-scrollbar{
    width: 0px; 
}

.clear{
    clear: both;
}

.titleOptions{
    width: 100%;
    float: left;
    border: 1px solid gray;
}

.normalTextOptions{
    color: white;
    font-size: 1.5vw;
    margin: 5px;
    margin-left: 1.5vw;
    padding: 0px;
    float: left;
}

.normalTextOptionsCSS{
    color: white;
    font-size: 1.5vw;
    margin: 5px;
    margin-left: 1.5vw;
    padding: 0px;
    float: left;
}

.delete{
    margin: 0px;
    padding: 0px;
    width: 2vw;
    float: left;
    margin-top: 5px;
}

.deletemenu{
    margin: 0px;
    padding: 0px;
    width: 2vw;
}

.option{
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 1.5vw;
}

.optionCSS{
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 1.5vw;
    border-bottom: 1px solid gray;
    max-height: 50vh;
    overflow: auto;
}

.optionCSS::-webkit-scrollbar{
    width: 0px; 
}

.CSSparameters{
    display: none;
}

.option>img{
    width: 5vw;
    margin: 4px;
}

.options:hover{
    background-color: gray;
}

.elementsContainers{
    display: none;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    max-height: 70h;
}

.elementsContainers::-webkit-scrollbar{
    width: 0px; 
}

.options{    
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 50%;
    float: left;
}

.cssOptions{    
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

.cssOptions > div > div > input{   
    margin: 0px;
    padding: 0px;
    background-color: black;
    width: 90%;
    border: 1px solid white;
    color: white;
    margin-left: 10px;
}

.cssClass{
    width: 70%;
}

.selected{
    border: 3px solid black;
}

.section{
    margin: 0px;
    padding: 0px;
}

.imgShow{
    width: 2vw;
    margin: 0px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0px;
    float: right;
}

#navBar{
    width: 100%;
    height: 7vh;
    border-bottom: 2px solid gray;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navBar>img:hover{
    cursor: pointer;
}
#navBar > #atexlogo{
    height: 7vh;
}

#optionsContainer{
    width: 100%;
    align-content: top;
}

#leftBar{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 15%;
    height: calc(99.7vh - 7vh);
    background-color: black;
    display: flex;
    justify-content: center;
}

#optionsMenu{
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 400px;
    background-color: black;
    border-radius: 5px;
    z-index: 900;
    text-align: center;
    color: white;
    font-size: 2vh;
}

#optionsMenu > input, #optionsMenu > select, #optionsMenu > option{
    margin: 0px;
    padding: 0px;
    border: 0px solid black;
    background-color: black;
    z-index: 1000;
    color: white;
}

#optionsMenu > input[type="text"], #optionsMenu > input[type="password"], #optionsMenu > input[type="number"]{
    margin: 3px;
    border-bottom: 2px solid white;
    height: 30px;
}

#optionsMenu > select, #optionsMenu > option{
    margin-top: 5px;
    border-bottom: 2px solid white;
}

#optionsMenu > input[type="color"]{
    margin: 5px;
}

#textP{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 13px;
    float: left;
}

#newClass{
    width: 90%;
    background-color: black;
    border: 0px;
    border-bottom: 1px solid white;
    color: white;
    margin-top: 10px;
}

#cssElementsList{
    max-height: 80vh;
    overflow: auto;
}

#cssElementsList::-webkit-scrollbar{
    width: 0px;
}